{% extends 'base.html' %}

{% block content %}
     <div style="background:transparent !important" class="container jumbotron">
          <h1 class="display-3 text-center">SignUp Now !</h1>
          <p class="lead">Top 100 Spotify</p>
          <br>
          <div class="text-center">
               <button type="button" class="btn btn-success" class="btn btn-secondary btn-lg text-center"> <a href="{{ url_for('spotify100') }}">Top 100 Spotify</a></button>
          </div>          
     </div>
{% endblock %}