{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>top 100</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
            {% for rapper in top100%}
            <tr>
                <th class="prueba" scope="row"></th>
                <td>
                    {{ rapper }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}